<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GifTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB85D6161F28ED3C00A07DEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB85D62A1F28ED3C00A07DEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB85D6351F28ED3C00A07DEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
